body{
color: blueviolet;
background: cornsilk;
}
header{
    border-bottom: solid 2px rgb(79,47,79);
    padding: 20px;
    font-size: 32px;
    color: cornflowerblue;
    background-color: darkslateblue;
}
.chamada{
    background: orchid;
padding-top: 100px;
padding-bottom: 100px;
display: flex;
justify-content: center;
}