body{
color: rgb(138, 43, 226);
background: cornsilk;
}
header{
    border-bottom: solid 2px rgb(79,47,79);
    padding: 20px;
    font-size: 32px;
    color: cornflowerblue;
    background-color: darkslateblue;
}
.chamada{
    background: rgb(77, 7, 143);
padding-top: 100px;
padding-bottom: 100px;
display: flex;
justify-content: center;
}