body{
color: rgb(40, 40, 40);
background: cornsilk;
}
header{
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(6, 129, 119);
    background-color: rgb(51, 175, 165);
}
.chamada{
    background: rgb(26, 188, 156);
padding-top: 100px;
padding-bottom: 100px;
display: flex;
justify-content: center;
}
